.login{
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login_logo{
    margin-top: 100px;
    margin-bottom: 20px;
    object-fit: contain;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}
.login_logo:hover{
    transition: all .2s ease-in-out;
}
.login_container{
    width: 350px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 3px solid lightgrey;
    padding: 20px;
    background-color: white;
}
.login_container > h1{
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0;
}
.login_container > form > h5{
    margin-bottom: 5px;
    margin-top: 10px;
    font-size: 16px;
}
.login_container > form > input{
    height: 40px;
    margin-bottom: 10px;
    background-color: white;
    width: 98%;
    padding-left: 10px;
}
.login_container > p{
    font-size: 12px;
}
.login_signinbutton{
    margin-top:5px;
    background-color: #FFD712;
    border-radius: 2px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    border: 0px;
    border: 0px;
    border-radius: 7px;
    font-size: 15px;
    cursor:pointer;
}
.login_signinbutton:hover{
    background-color: #634b10;
    transition: all .2s ease-in-out;
}
.login_registerbutton{
    border-radius: 2px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    border-color: darkgray;
    cursor:pointer;
}
.text_color{
    background-color: rgb(170, 170, 238);
    border: 1px solid black;
    border-radius: 3px ;
}
p{
    margin: 15px 0px;
}
.box_container{
    height: 500px;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.box_container button{
    height: 50px;
    font-weight: bold;
}

@media (max-width: 600px) {
    .box_container {
        width: 300px;
        height: 300px;
        font-size: 12px;
    }

    .box_container img {
        height: 150px;
        width: 100px;
        width: 90%;
    }

    .box_container button {
        font-size: 14px;
        width: 50%;
    }
}

@media (min-width: 601px) and (max-width: 1024px) {
    .box_container img {
        height: 250px;
        width: 200px;
        width: 90%;
    }

    .box_container {
        height: 400px;
        width: 500px;
    }

    .box_container button {
        font-size: 25px;
    }
}
